.active-link {
    font-weight: bold;
    color: red;
}

.highlight {
    background-color: yellow;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: blue;
    font-weight: bold;
}

.shade {
    background-color: lightgray;
}

/* Mern.html page */
.banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
}
.banner > div {
    height: 470px;
    width: 300px;
    background-color: #f7f3f3;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    color: #172B35;
}
.banner h1{
    margin-left: 15px;
    margin-top: 10px;
}

.banner p{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.img-container {
    overflow: hidden;
    margin-top: 10px;
    display: flex; /* Use flexbox for easy centering */
    justify-content: center; /* Center horizontally */
    align-items: center; 
}
.img-container img {
    width: 280px;
    height: 215px;
    margin-bottom: 15px;
    border-radius: 10px;
}
.info{
    border-radius: 15px;
    background-color: white;
    border: 2px solid gray;
    font-size: smaller;
    height: 1.8em;
    width: 4em;
    color: gray;
}
.info1{
    margin-left: 20px;
}
.info2{
    margin-left: 10px;
}
.readmore{
    border-radius: 20px;
    background-color: #7ab2ee;
    color: #0767d5;
    font-size: small;
    border: 2px;
    margin: auto;
    display: inherit;
    height: 2.8em;
    width: 9em;
}

/* Box Modal CSS */
.box{
    border: 1px solid;
    padding: 16px;
    font-size: large;
}

.second img{
    display: flex;
    height: 350px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}